*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-style: 1rem;
    background-image: url(../assets/images/university-background.jpg);
    background-size: cover;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ECE5F0;
    background-color: #1D201F;
    font-size: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 115px;
    margin-top: -10px;
}

header .logo{
    display: block;
}

header .logo i{
    display: flex;
    font-size: 60px;
    color: #ECE5F0;
    margin: auto auto;
    
}

header nav{
    display: flex;
    gap: 20px;
    padding: 10px;
}

header nav button{
    border: 1px solid #ECE5F0;
    border-radius: 7px;
    padding: 5px;
    width: 150px;
    height: 50px;

}

header nav button:hover{
    background-color: #ECE5F0;
    color: #1D201F;
    cursor: pointer;
}

main{
    display: flex;
    margin-top: 120px;
}

main article{
    margin: 200px auto;
    width: 700px;
}

main article form label{
    display: flex;
    justify-content: center;
    font-size: 75px;
    margin-bottom: 40px;
    
}

main article form input{
    display: flex;
    justify-content: center;
    border: none;
    margin: auto auto;
    width: 550px;
    height: 100px;
    border-radius: 30px;
    font-size: 30px;
    padding: 10px;
}

main article input:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

main article .search_button_wrapper{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

main article form button{
    font-size: 35px;
    width: 140px;
    height: fit-content;
    cursor: pointer;
}

main section{
    /* border: 2px solid #1D201F; */
    width: 40%;
    margin: auto auto;
}

main section h4{
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
}

main section form{
    margin-top: 20px;
}

main section fieldset{
    display: block;
    
    margin: 13px auto;
    padding: 10px;
    width: 50%;

}

main section fieldset legend{
    font-size: 19px;
}

main section fieldset p{
    display: block;
    padding: 10px;
}

main section fieldset p label, main section fieldset p input{
    display: block;
    padding: 2px;
}

main section fieldset p label, main section fieldset p input:focus{
    outline: none;
    border: none;
    box-shadow: none;
}


main section fieldset .courses{
    display: flex;
}

.button-wrapper{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}


button{
    width: 90px;
    height: 35px;
    background-color: #1D201F;
    border: none;
    border-radius: 5px;
    color: #ECE5F0;
    font-size: 15px;
    font-weight: 500;
}

button:hover{
    color: #1D201F;
    background-color: #ECE5F0;
    border: 1px solid #1D201F;
}


main div{
    margin: auto auto;
}

main div h1{
    text-align: center;
    margin-bottom: 25px;
}

main div table, tr, th, td, caption{
    border: 1px solid #eee;
    font-family: serif;
    border-collapse: collapse;
    padding: 0.7rem;
}