
body{
    /* background-image: url(../assets/backgrounds/university-background.jpg); */
    /* background-size: cover; */
    background-color: #000000;

}



/* Search */
main {
    display: block;
    width: 100%;
    overflow-x: hidden;
}

main .searchSection{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 90px auto;
    width: 100vw;
    max-height: 100vh;
}

main .searchSection h3{
    
    color: white;
    font-size: 20px;
}

main .searchSection form label{
    display: flex;
    justify-content: center;
    font-size: 75px;
    color: #EEE;
    margin-bottom: 50px;

}

main .searchSection form input{
    display: flex;
    justify-content: center;
    border: none;
    margin: auto auto;
    width: 550px;
    height: 50px;
    border-radius: 30px;
    font-size: 18px;
    padding: 25px;
}


main .searchSection input:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

main .searchSection .search_button_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px auto;
    border-radius: 5px;
}

main .searchSection form button{
    border: none;
    font-size: 25px;
    width: 125px;
    height: 35px;
    cursor: pointer;
}

main .searchSection form button:hover{
    font-size: 27px;
    width: 135px;
    height: 45px;
}


/* Search Results */
main .studentCardsSection{
    display: none;
    background-color: #EEE;
    width: 100%;
    height: 100vh;
    text-align: center;
    
}

main .studentCardsSection h2{
    display: block;
    align-items: center;
    margin: auto auto;
    padding: 20px;
    font-size: 15px;
    background-color: #000000;
    color: #EEE;
    width: fit-content;
    border-radius: 4px;
}

main .studentCardsSection span{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto auto;

}

.studentCard{
    border: 4px solid darkslategray;
    border-radius: 6px;
    background-color: #6b6868;
    color: #EEE;
    min-width: 300px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.4s ease;
}

.studentCard:hover{
    z-index: 5;
    opacity: 1;
    transform: scale(1.4) translateY(-5px);
}

.studentCard .cardContents{
    background-image: url(../assets/backgrounds/university-background.jpg) ;
    background-size: cover;
    height: 100%;
}

.studentCard .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: darkslategray;
    color: #000000
}

.studentCard .logo i{
    font-size: 18px;
}

.studentCard .logo h4{
    font-size: 15px;
    text-decoration: none;
    padding: 15px;
}

.studentCard .details{
    display: flex;
    justify-content: center;
    margin: auto auto;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.4;
    border-radius: 5px;
}

.studentCard .details ul{
    text-align: justify;
    margin: auto 10px;
}

.studentCard .details ul li{
    list-style: none;
    padding: 3px;
    margin-bottom: 0;
}

.studentCard .details img{
    width: 88px;
    height: 88px;
    border-radius: 50%;
    object-fit: cover;
    padding-bottom: 2px;
    padding: 0;
    margin-right: 5px;
    margin-top: 2px;
    outline: 2px solid darkslategray;
    scale:1;
}

.studentCard h5{
    align-items: center;
    text-align: center;
    margin: auto auto;
    background-color: darkslategray;
    color: #000000;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1px;
}

/* Specific Student Information */

.specificStudentInformationSection{
    display: none;
    padding: 10px;
}


.close{
    display: none;
    justify-content: end;
    align-items: center;
    place-content: center;
    position: fixed;
    right: 10px;
    top: 90px;
    font-size: 20px;
    color: #EEE;
    border: none;
    background-color: #000000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;

}

.specificStudentInformationSection h2{
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
}

h2 span{
    font-size: 28px;
    border-radius: 8px;
    background-color: #000000;
    color: #EEE;
    padding: 10px;
}

.specificStudentDetails{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.specificStudentDetails tbody tr td{
    text-align: center;
}

.specificStudentDetails table, tr, th, td, caption{
    border: 1px solid #000000;
    font-family: serif;
    border-collapse: collapse;
    padding: 0.5rem;
}
 
.profile-image-in-search-results-table{
    width: 100%;
    height: 100px;
    border-radius: 50%;
    scale: 1.1;
}