*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    background-color: #172815;
    text-align: center;
    color: #1D201F;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #181D27;
    margin-bottom: 20px;
    /* border-bottom: 2px solid #ECE5F0; */
    width: 100%;
    height: 70px;
}

header h1{
    padding: 8px;
    margin-left: 10px;
    color: #ECE5F0;
    width: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto 0;

}

header h1 span{
    padding: 7px;
}

header .add-note-btn, header .view-notes-btn{
    display: flex;
    align-items: center;
    font-size: 20px;
    text-align: center;
    margin: auto 10px;
    padding: 8px;
    color: #012622;
    border: none;
    border-radius: 5px;
}

header .add-note-btn span{
    color: #012622;
    font-size: 30px;
    margin-left: 8px;
    text-align: center;
}

header .add-note-btn:hover, .add-note-btn span:hover{
    background-color: #E98A15;
}

header .view-notes-btn{
    display: none;
}

a{
    text-decoration: none;
    position: absolute;
    right: 4px;
    color: #ECE5F0;
    font-size: 17px;
}

a:hover{
    color: #E98A15;
}

main{
    display: flex;
    justify-content: center;
    gap: 250px;
    /* margin: 50px auto; */
    
}

main form{
    display: none;
    margin-top: 100px;
}

main form label{
    display: block;
    font-size: 22px;
    padding: 10px 0;
    color: #ECE5F0;
}

main input{
    height: 40px;
    width: 445px;
}

main textarea{
    height: 190px;
    width: 445px;
}

main form input, main form textarea{
    display: block;
    margin: auto auto;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    color: #1D201F;
}

main textarea:focus, input:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

main button{
    left: 0;
    margin: 20px 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    background-color: #E98A15;
    font-weight: 700;
    color: #1D201F;
}

main button:first-of-type:hover{
    background-color: #ECE5F0;
}

main button:nth-of-type(2):hover{
    background-color: #960200;
   
}

main section{
    overflow-y: auto;
    scrollbar-width: 2px;
    scrollbar-color: #012622;
    width: 70%;
    height: 80vh;
    margin: auto auto;
    background-color: #E98A15;
    border-radius: 8px;
}

/* Width of the scrollbar */
main section::-webkit-scrollbar {
    width: 5px;
}

/* Style the track */
main section::-webkit-scrollbar-track {
    background: #E98A15;
    border-radius: 10px;
}

/* Style the thumb */
main section::-webkit-scrollbar-thumb {
    background: #ECE5F0;
    border-radius: 5px;
}

/* Change color on hover */
main section::-webkit-scrollbar-thumb:hover {
    background: #1D201F;
}



main section .close-note{
    display: none;
    color: #181D27;
    font-size: 20px;
    border: 1px solid #000000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    float: right;
    margin-top: -14px;
    text-align: center;
    color: #ECE5F0;
    background-color: #181D27;
    margin-right: 3px;
}

main section ul li{
    list-style: none;
    font-size: 23px;
    border-radius: 8px;
    width: 320px;
    height: 35px;
    margin: auto auto;
    background-color: #ECE5F0;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 15px;
    align-content: center;
}




footer{
    background-color: #181D27;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 50px;
}

footer p{
    color: #ECE5F0;
    font-size: 14px;
    padding: 20px;
}
